body {
	font: 10pt sans-serif;
	margin-top: 0;
}

ul.topNav {
	z-index: 10000;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	margin: 0;
	padding: 0;
	height: 5em;
	line-height: 5em;
	text-align: center;
	list-style-type: none;	
	overflow: hidden;
	background-color: #1A1C20;
	font-size: 90%;
}

	ul.topNav li {
		margin-left: 1.5em;
		margin-right: 1.5em;
		display: inline-block;
		text-align: center;
		text-decoration: none;
	}
	
		ul.topNav li.title {
			display: none;
		}
	
		ul.topNav li.icon {
			display: none;
		}
		
		ul.topNav li a {
			text-transform: uppercase;
			font-weight: bold;
			color: rgba(255, 255, 255, 0.7);
			text-decoration: none;
		}
		
			ul.topNav li a:hover {
				color: rgba(255, 255, 255, 1);
			}
		
			ul.topNav li a.active{
				color: rgba(255, 255, 255, 1);
			}
			
.wrapper {
	max-width: 960px;
	margin-top: 6em;
	margin-left: auto;
	margin-right: auto;
	z-index: 0;
}

#about p {
	margin-top: 1.5em;
	margin-bottom: 1.5em;
}

.header {
	font: 24pt sans-serif;
	font-weight: bold;
}

.container{
	max-width: 1024px;
	margin: 0 auto;
	text-align: center;
}

.chart{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

/* Waffle charts */

.waffleCounter {
	font-weight: bold;
	font: 24pt sans-serif;
}

.waffleSubject {
	margin-top: 0em;
	margin-bottom: 1.5em;
	color: #595857;
}

/* Navigation - screen size */

@media screen and (max-width: 768px) {

	ul.topNav {
		height: initial;
	}

		ul.topNav li {
			display: none;
		}

			ul.topNav li.title {
				float: left;
				display: inline-block;
			}
		
			ul.topNav li.icon {
				float: right;
				display: inline-block;
			}
	
	ul.topNav.responsive li {
		float: none;
		display: block;
	}
	
		ul.topNav.responsive li.title {
			position: relative;
			left: 0;
			top: 0;
		}	
		
		ul.topNav.responsive li.icon {
			position: absolute;
			right: 0;
			top: 0;
		}	
		
		ul.topNav.responsive li a {
			display: block;
			text-align: left;
		}
				
}	