/* CSS styling for NSELD infographic */

/* Main styling */

body {
  /*border: 1px solid red; /* This is for design purposes, disable when done */
  overflow-y: scroll;
}

.content {
  /*border: 1px solid blue;  /* This is for design purposes, disable when done */
  font: 12px Arial, sans-serif;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: 2em;
  padding-left: 20px;
  padding-right: 20px;
  line-height: 1.5em;
}

.chart {
  text-align: center;
  display: inline-block;
  max-width: 750px;
  width: 100%;
}

.tripleChart {
  text-align: center;
  display: inline-block;
  max-width: 250px;
  width: 33%;
}

.cover {
  height: 99vh;
  margin: 0 auto;
  max-width: 750px;
  width: 100%;
}

.title_text {
  /*border: 1px solid blue;*/
  max-width: 750px;
  width: 100%;
  height: 100%;
	background-color: rgba(255, 255, 255, 0.5);
	color: rgba(0, 0, 0, 0.8);
  position: relative;
  bottom: 0;
  /*padding: 1em;*/
  /*vertical-align: bottom;
  text-align: center;*/
}

.title_content {
  /*border: 1px solid blue;*/
  width: 100%;
  position: absolute;
  bottom: 25vh;
  text-align: center;
  vertical-align: bottom
}

.title_text p{
  font: 24px Lato, sans-serif;
  font-weight: bold;
}

.section1 {
  background-color: #0b406b;
  color: #FFF;
}

.section2 {
  background-color: #8358a5;
  color: #FFF;
}

.section3,
.section3a {
  background-color: #0094c9;
  color: #FFF;
}

.section4 {
  background-color: #0094c9;
  color: #fff;
}

.line_w {
  height: 1px;
  border: 0;
  background-color: #fff;
}

.line_b {
  height: 1px;
  border: 0;
  background-color: #000;
}

.chart_title {
  font: 14px Lato, sans-serif;
  font-weight: bold;
  color: rgba(0,0,0,0.75);
  text-align: left;
}

.export_div {
  text-align: right;
}

.export_button {
  font: 10px Roboto, sans-serif;
  /*opacity: 0.5;*/
  background-color: rgba(0,0,0,.05);
  border: 1px solid slategray;
  margin-top: 10px;
}

.export_button:hover {
  opacity: 1;
  transition: opacity 1s;
}

.export_button:not(:hover) {
  opacity: 0.33;
  transition: opacity 1s;
}

/*.chart_area {
  background-color: #000;
}*/

/* Page settings */

@page {
  size: 8.5in 11in;
  margin-left: 0.5in;
  margin-right: 0.5in;
}

@media screen {
  .footer {
    display: none;
  }
}

@media print {

  .content {
    max-width: 750px;
  }

  .footer {
    /*position: relative;
    bottom: 0;*/
    font: 10px Arial, sans-serif;
    color: #888;
    width: 100%;
    text-align: center;
    margin: 0 0;
  }

  .export_div {
    display: none;
  }

}

h1 {
  page-break-before: always;
  font: 24px Arial, sans-serif;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

svg {
  background-color: #fff;
}

/* Tree diagrams */

.treeDiagram {
  font: 10px Roboto, sans-serif;
}

.treeDiagram .link {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
}

.treeDiagram .circle {
  fill: #0b406b;
  stroke: #0b406b;
  stroke-width: 1px;
}

/* Donut charts */

.donutChart {
  font: 10px Roboto, sans-serif;
}

.distType .significant {
  color: #8358a5;
}

.distType .moderate {
  color: #9d7ab8;
}

.distType .low-incidence {
  color: #b69cc9;
}

.donutChart .arc {
  fill: #eee;
  stroke: #fff;
  stroke-width: 1px;
}

.donutChart .significant {
  fill: #8358a5;
}

.donutChart .moderate {
  fill: #9d7ab8;
}

.donutChart .low-incidence {
  fill: #b69cc9;
}

.donutChart .valueLabel {
  font: 48px Roboto, sans-serif;
  font-weight: bold;
}

/* Column charts */

.columnChart {
  font: 10px Roboto, sans-serif;
}

.columnChart .yAxis path {
  stroke: gray;
  stroke-width: 1px;
}

.columnChart .yAxis text {
  fill: gray;
}

.columnChart .xAxis text {
  fill: darkslategray;
}

.columnChart .xAxis line,
.columnChart .xAxis path {
  display: none;
}

.columnChart .column {
  stroke: #fff;
  stroke-width: 1px;
}

.columnChart .significant {
  fill: #8358a5;
}

.columnChart .moderate {
  fill: #9d7ab8;
}

.columnChart .low-incidence {
  fill: #b69cc9;
}

/* Diverging bar charts */

.divergingBar {
  font: 10px Roboto, sans-serif;
}

.divergingBar .xAxis path {
  stroke: gray;
  stroke-width: 1px;
}

.divergingBar .xAxis text {
  fill: gray;
}

.divergingBar .yAxis text {
  fill: darkslategray;
}

.divergingBar .yAxis line,
.divergingBar .yAxis path {
  display: none;
}

.divergingBar .zeroLine {
  stroke: #aaa;
  stroke-dasharray: 3,3;
}

.divergingBar .bar {
  stroke: #fff;
  stroke-width: 1px;
}

.divergingBar .main {
  fill: #0094c9;
}

.divergingBar .el {
  fill: #005e80;
}

.divergingBar .white {
  fill: #fff;
}

/* Slopegraphs */

.slopeGraph {
  font: 10px Roboto, sans-serif;
}

.slopeGraph .groupLine {
  stroke: #ccc;
  stroke-dasharray: 3,3;
}

.slopeGraph .line {
  stroke: #bbb;
  stroke-width: 1px;
}

.slopeGraph .main {
  fill: #0094c9;
}

.slopeGraph .el {
  fill: #005e80;
}
