/* CSS styling for NSELD infographic */

/* Main styling */

body {
  /*border: 1px solid red; /* This is for design purposes, disable when done */
  overflow-y: scroll;
}

.content {
  /*border: 1px solid blue;  /* This is for design purposes, disable when done */
  font: 12px Arial, sans-serif;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

.chart {
  text-align: center;
  display: inline-block;
  max-width: 960px;
  width: 100%;
}

.tripleChart {
  text-align: center;
  display: inline-block;
  max-width: 320px;
  width: 33%;
}

/* Page settings */

@page {
  size: 8.5in 11in;
  margin-left: 0.5in;
  margin-right: 0.5in;
}

@media print {
  .content {
    max-width: 750px;
  }
}

h1 {
  page-break-before: always;
  font: 24px Arial, sans-serif;
  font-weight: bold;
}

h1, h2, h3, h4, h5 {
  page-break-after: avoid;
}

/* Tree diagrams */

.treeDiagram {
  font: 10px Roboto, sans-serif;
}

.treeDiagram .link {
  fill: none;
  stroke: #aaa;
  stroke-width: 1px;
}

.treeDiagram .circle {
  fill: #43a2ca;
  stroke: #1c4e63;
  stroke-width: 1px;
}

/* Donut charts */

.donutChart {
  font: 10px Roboto, sans-serif;
}

.distType .significant {
  color: #253494;
}

.distType .moderate {
  color: #2c7fb8;
}

.distType .low {
  color: #41b6c4;
}

.donutChart .arc {
  fill: #eee;
  stroke: #fff;
  stroke-width: 1px;
}

.donutChart .significant {
  fill: #253494;
}

.donutChart .moderate {
  fill: #2c7fb8;
}

.donutChart .low {
  fill: #41b6c4;
}

.donutChart .valueLabel {
  font: 48px Roboto, sans-serif;
  font-weight: bold;
}

/* Column charts */

.columnChart {
  font: 10px Roboto, sans-serif;
}

.columnChart .yAxis path {
  stroke: gray;
  stroke-width: 1px;
}

.columnChart .yAxis text {
  fill: gray;
}

.columnChart .xAxis text {
  fill: darkslategray;
}

.columnChart .xAxis line,
.columnChart .xAxis path {
  display: none;
}

.columnChart .column {
  stroke: #fff;
  stroke-width: 1px;
}

.columnChart .significant {
  fill: #253494;
}

.columnChart .moderate {
  fill: #2c7fb8;
}

.columnChart .low {
  fill: #41b6c4;
}

/* Diverging bar charts */

.divergingBar {
  font: 10px Roboto, sans-serif;
}

.divergingBar .xAxis path {
  stroke: gray;
  stroke-width: 1px;
}

.divergingBar .xAxis text {
  fill: gray;
}

.divergingBar .yAxis text {
  fill: darkslategray;
}

.divergingBar .yAxis line,
.divergingBar .yAxis path {
  display: none;
}

.divergingBar .zeroLine {
  stroke: #aaa;
  stroke-dasharray: 3,3;
}

.divergingBar .bar {
  stroke: #fff;
  stroke-width: 1px;
}

.divergingBar .main {
  fill: #008837;
}

.divergingBar .el {
  fill: #7b3294;
}

.divergingBar .white {
  fill: #fff;
}

/* Slopegraphs */

.slopeGraph {
  font: 10px Roboto, sans-serif;
}

.slopeGraph .groupLine {
  stroke: #ccc;
  stroke-dasharray: 3,3;
}

.slopeGraph .line {
  stroke: #bbb;
  stroke-width: 1px;
}

.slopeGraph .main {
  fill: #008837;
}

.slopeGraph .el {
  fill: #7b3294;
}
