body {
	text-align: center;
}

table {
	width: 400px;
	height: 400px;
	margin: 0px auto;
}

tr {
	height: 33%;
}

td {	
	width: 33%;
}

.top {
	border-bottom: 1px solid #000;
}

.bottom {
	border-top: 1px solid #000;
}

.left {
	border-right: 1px solid #000;
}


.right {
	border-left: 1px solid #000;
}