p {
	font-family: Raleway;
	font-size: 23px;
	font-weight: 800;
	margin: auto 1.66%;
	text-transform: uppercase;
	/*width: 30%;*/
	border-bottom: 2px solid #f1f1f1;
	padding-bottom: 20px;
}
/*
#photos {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
*/
img {
	width: 30%;
	float: left;
	margin: 1.66%;
}