/* Main styling */

body {
	font: 10pt sans-serif;
}

#mainMapContainer {
	text-align: center;
}

#mainTableContainer {
	text-align: center;
}

.mapContainer {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	padding: 0px 15px;
}

.tableContainer {
	display: inline-block;
	text-align: left;
	vertical-align: top;
	padding: 0px 15px;
}

/* Slider styling */

.ticks {
  font: 10px sans-serif;
}

.track,
.track-inset,
.track-overlay {
  stroke-linecap: round;
}

.track {
  stroke: #000;
  stroke-opacity: 0.3;
  stroke-width: 10px;
}

.track-inset {
  stroke: #ddd;
  stroke-width: 8px;
}

.track-overlay {
  pointer-events: stroke;
  stroke-width: 50px;
  stroke: transparent;
  cursor: crosshair;
}

.handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}

/* Map styling */

.tileMap .tile {
	stroke: #FFF;
	stroke-width: 2px;
	shape-rendering: crispEdges;
}

/* Table styling */

.selectorDiv div {
	display: inline-block;
	box-sizing: border-box;
	font: 8pt sans-serif;
}

.selectorDiv select {
	font: 8pt sans-serif;
}

.dataTable {
	font: 8pt sans-serif;
}

.dataTable .tableHeader {
  font-weight: bold;
}

.dataTable .tableHeader div {
  display: inline-block;
}

.dataTable .years {
	box-sizing: border-box;
  border: 1px solid #FFF;
  text-align: center;
}

.dataTable .tableRow div {
  display: inline-block;
}

.dataTable .stateNames {
	box-sizing: border-box;
  border: 1px solid #FFF;
}

.dataTable .squares {
	box-sizing: border-box;
  border: 1px solid #FFF;
  text-align: center;
	font-weight: bold;
}
