/* Page layout */

@page {
  size: landscape;
  /*margin-top: 0.5in;
  margin-bottom: 0.5in;*/
  margin-top: 0.5in;
  margin-bottom: 0.5in;
  margin-left: 1in;
  margin-right: 1in;
}

body {
  width: 9in;
  /*text-align: center;*/
  /*height: 6.25in;*/
}

.header {
  display: flex;
  width: 100%;
  height: 0.5in;
  /*margin-top: 0.5in;*/
  justify-content: center;
  align-items: center;
  page-break-before: always;
}

.header_content {
  height: 0.5in;
  text-align: center;
  font: 16pt Roboto, sans-serif;
  color: #5b9bd5;
}

.page_content {

  font: 11pt Calibri, sans-serif;
  text-align: left;
  height: 6.25in;
  width: 100%;
  border: 1px solid #fff;
}

h1 {
  font: 14pt Calibri, sans-serif;
  color: #2e74b5;
}

.footer {
  width: 100%;
  height: 0.5in;
}

.footer_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: flex-end;
}

.footer_left {
}

.footer_right img {
  /*height: 100%;*/
}

.page_number {
  font: 10pt Arial, sans-serif;
  color: #555;
}

.footer_screen {
  display: none;
}

a {
  color: #0563c1;
}

#selectors {
  display: none;
}

.spacer,
.spacer_half {
  display: none;
}

.chart {
  text-align: center;
  font: 14pt Tahoma, sans-serif;
  font-weight: bold;
  color: #0d1969;
  margin-top: 0.25in;
  margin-bottom: 0.25in;
}

/* Yes/no chart styling */

.bar_yes_no {
  font: 12pt Tahoma, sans-serif;
}

.bar_yes_no .yAxis,
.bar_yes_no .xAxis {
    font: 12pt Tahoma, sans-serif;
}

.bar_yes_no .yAxis .tick line,
.bar_yes_no .xAxis .tick line {
  display: none;
}

.bar_yes_no .yAxis path,
.bar_yes_no .xAxis path {
  stroke: #ccc;
}

.bar_yes_no .bar {
  fill: #0d1969;
}

.bar_yes_no .bar_label {
  fill: #0d1969;
}

.bar_yes_no .label_rect {
  fill: #fff;
  stroke: #0d1969;
  stroke-width: 1px;
}

/* Mean column chart styling */

.col_mean {
  font: 12pt Tahoma, sans-serif;
}

.col_mean .yAxis,
.col_mean .xAxis {
    font: 12pt Tahoma, sans-serif;
}

.col_mean .yAxis .tick line,
.col_mean .xAxis .tick line {
  display: none;
}

.col_mean .yAxis path,
.col_mean .xAxis path {
  stroke: #ccc;
}

.col_mean .col {
  fill: #0d1969;
}

.col_mean .col_label {
  fill: #0d1969;
}

.col_mean .label_rect {
  fill: #fff;
  stroke: #0d1969;
  stroke-width: 1px;
}

/* Stacked bar styling */

.stacked_bar {
  font: 12pt Tahoma, sans-serif;
}

.stacked_bar .yAxis,
.stacked_bar .xAxis {
    font: 12pt Tahoma, sans-serif;
}

.stacked_bar .yAxis .tick line,
.stacked_bar .xAxis .tick line {
  display: none;
}

.stacked_bar .yAxis path,
.stacked_bar .xAxis path {
  stroke: #ccc;
}

.stacked_bar .bar_label {
  fill: #0d1969;
}

.stacked_bar .label_rect {
  fill: #fff;
  stroke: #0d1969;
  stroke-width: 1px;
}

/* Stacked column styling */

.stacked_col {
  font: 12pt Tahoma, sans-serif;
}

.stacked_col .yAxis,
.stacked_col .xAxis {
    font: 12pt Tahoma, sans-serif;
}

.stacked_col .yAxis .tick line,
.stacked_col .xAxis .tick line {
  display: none;
}

.stacked_col .yAxis path,
.stacked_col .xAxis path {
  stroke: #ccc;
}

.stacked_col .bar_label {
  fill: #0d1969;
}

.stacked_col .label_rect {
  fill: #fff;
  stroke: #0d1969;
  stroke-width: 1px;
}
