/* Overall formatting */

body {
  overflow-y: scroll;
  margin: 0;
}

.wrapper {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
}

@page {
  margin-top: 10px;
  margin-bottom: 10px;
}

@media print {
  body {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #header2 {
    margin-top: 10px;
  }
}

/* Header formatting */

#header {
  display: flex;
  padding: 10px;
  page-break-before: always;
}

#header2 {
  display: flex;
  padding: 10px;
  page-break-before: always;
}

@media screen {
  #header2 {
    display: none;
  }
}

#header_left {
  width: 70%;
  position: relative;
}

#pn_ident {
  position: absolute;
  bottom: 0;
}

#pn_name {
  font: 24px Raleway, sans-serif;
  font-weight: bold;
  color: #08375e;
}

#pn_location {
  font: 12px Raleway, sans-serif;
  font-style: italic;
  color: #08375e;
}

.header_right1 {
  width: 15%;
  text-align: right;
}

.header_right1 img {
  height: 80px;
}

.header_right2 {
  width: 15%;
  text-align: right;
}

.header_right2 img {
  height: 80px;
}

/* About formatting */

.about_header {
  text-align: center;
  padding: 15px;
  font: 14px Arimo, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #08375e;
  /*border: 1px solid #fff;*/
  margin: 2px 2px;
}

.about_text {
  margin-top: 0em;
  padding: 15px;
  font: 12px Roboto, sans-serif;
  line-height: 1.5em;
  margin: 2px 2px;
  background-color: #0d5b9b;
  color: #fff;
}

/* Location formatting */

.people_grid {
  display: flex;
  margin: 2px 2px;
}

.people_grid_left {
  width: 25%;
  border-right: 1px solid #fff;
}

.people_grid_right {
  width: 75%;
  border-left: 1px solid #fff;
}

.people_header {
  text-align: center;
  padding: 15px;
  font: 14px Arimo, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #08375e;
  /*border: 1px solid #fff;*/
  /*margin: 2px 2px;*/
}

.people_grid_container {
  display: flex;
  /*flex-wrap: wrap;*/
  margin: 2px 2px;
  color: #0d5b9b;
  background-color: #fff;
  font: 11px Roboto, sans-serif;
  justify-content: center;
}

.people_left_full {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  color: #0d5b9b;
  background-color: #fff;
}

.people_left_full_chart {
  width: 100%;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 15px;
  color: #0d5b9b;
  background-color: #fff;
}

.people_three {
  width: 33%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  color: #0d5b9b;
  background-color: #fff;
}

.people_three_chart {
  width: 33%;
  box-sizing: border-box;
  text-align: center;
  padding-bottom: 15px;
  color: #0d5b9b;
  background-color: #fff;
}

.people_five {
  width: 20%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  color: #0d5b9b;
  background-color: #fff;
}

.people_icon {
  /*font-size: 3em;*/
  border-bottom: 1px solid #FF8C00;
  padding-bottom: 10px;
}

.people_light {
  color: #b8dcf9;
}

.people_text {
  padding-top: 10px;
  text-align: center;
}

.people_chart_text {
  /*padding-top: 10px;*/
  text-align: center;
}

.people_sources {
  width: 100%;
  padding-top: 0px;
  padding-left: 15px;
  padding-right: 15px;
  padding-bottom: 15px;
  font: 9px Roboto, sans-serif;
}

.people_sources a {
  color: #0d5b9b;
}

/* Map */

.map_header {
  text-align: center;
  padding: 15px;
  font: 14px Arimo, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #08375e;
  /*border: 1px solid #fff;*/
  margin: 2px 2px;
}

.map_content {
  padding: 15px;
  margin: 2px 2px;
  text-align: center;
  font: 11px Roboto, sans-serif;
  color: #0d5b9b;
}

.map_content img {
  width: 100%;
}

/* Strategies formatting */

.strategies_header {
  text-align: center;
  padding: 15px;
  font: 14px Arimo, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #08375e;
  /*border: 1px solid #fff;*/
  margin: 2px 2px;
}

#strategies_grid {
  font: 11px Roboto, sans-serif;
  display: flex;
  flex-wrap: wrap;
  /*border: 1px solid #fff;*/
  margin: 2px 2px;
  justify-content: center;
  background-color: #0d5b9b;
}

.strategies_two {
  width: 50%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  color: #FFF;
  height: 125px;
}

.strategies_three {
  width: 33%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  color: #FFF;
  height: 125px;
}

.strategies_four {
  width: 25%;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  color: #FFF;
  background-color: #0d5b9b;
}

.strategies_icon {
  /*font-size: 3em;*/
  border-bottom: 1px solid #FF8C00;
  padding-bottom: 10px;
}

.strategies_text {
  padding-top: 10px;
  text-align: center;
}

/* Quotes formatting */

#quote {
  padding: 15px;
  background-color: #d0e8fb;
  /*border: 1px solid #fff;*/
  margin: 2px 2px;
}

.quote {
  margin-top: 0em;
  font: 12px Roboto, sans-serif;
  line-height: 1.5em;
  color: #0d5b9b;
}

.quote_source {
  margin-top: 0em;
  margin-bottom: 0em;
  text-align: right;
  font: 12px Roboto, sans-serif;
  font-style: italic;
  color: #0d5b9b;
}

/* Accomplishments formatting */

.accomplishments_header {
  text-align: center;
  padding: 15px;
  font: 14px Arimo, sans-serif;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  background-color: #08375e;
  /*border: 1px solid #fff;*/
  margin: 2px 2px;
}

#accomplishments_grid {
  font: 11px Roboto, sans-serif;
  display: flex;
  /*border: 1px solid #fff;*/
  flex-wrap: wrap;
  margin: 2px 2px;
  justify-content: center;
}

.accomplishments_two {
  width: 50%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  color: #0d5b9b;
  /*background-color: #0d5b9b;*/
}

.accomplishments_three {
  width: 33%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  color: #0d5b9b;
  /*background-color: #0d5b9b;*/
}


.accomplishments_four {
  width: 25%;
  float: left;
  box-sizing: border-box;
  text-align: center;
  padding: 15px;
  color: #0d5b9b;
  /*background-color: #0d5b9b;*/
}

.accomplishments_icon {
  /*font-size: 3em;*/
  border-bottom: 1px solid #FF8C00;
  padding-bottom: 10px;
}

.accomplishments_text {
  padding-top: 10px;
  text-align: center;
}

/* Slopegraphs */

.slopeGraph {
  font: 10px Roboto, sans-serif;
}

.slopeGraph .groupLine {
  stroke: #ccc;
  stroke-dasharray: 3,3;
}

.slopeGraph .line {
  stroke: #bbb;
  stroke-width: 1px;
}

.slopeGraph .group1 {
  font-weight: bold;
  fill: #0d5b9b;
}

.slopeGraph .group2 {
  font-weight: bold;
  fill: #08375e;
}

/* Donut charts */

.donutChart {
  font: 10px Roboto, sans-serif;
  shape-rendering: geometricPrecision;
}

.donutChart .arc0 {
  fill: #0a4576;
  stroke: #fff;
  stroke-width: 2px;
}

.donutChart .arc1 {
  fill: #106fbc;
  stroke: #fff;
  stroke-width: 2px;
}

.donutChart .arc2 {
  fill: #148aeb;
  stroke: #fff;
  stroke-width: 2px;
}

.donutChart .arc3 {
  fill: #43a2ef;
  stroke: #fff;
  stroke-width: 2px;
}

.donutChart .arc4 {
  fill: #72b9f3;
  stroke: #fff;
  stroke-width: 2px;
}

.donutChart .arc_last {
  fill: #eee;
  stroke: #fff;
  stroke-width: 2px;
  opacity: .75;
}

.donutChart .valueLabel {
  fill: #0d5b9b;
  font-weight: bold;
  font-size: 2em;
}
